/* Global Variables */
:root {
    --font-primary: 'Noto Sans', sans-serif;
    --font-secondary: 'Merriweather', serif;

    /* Colors */
    --color-primary: #F9DC5C;
    --color-secondary: #FAE588;
    --color-accent: #805B10;
    --color-background: #FDF8E1;
    --color-card-bg: #FCEFB4;
    --color-text: #4A3225;
    --color-hover-bg: #4A322528;
    --color-hover-text: #fff;
    --color-active-bg: #4A322550;
}

/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--font-primary);
    background-color: var(--color-background);
    color: var(--color-text);
}

/* Navbar */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--color-primary);
    padding: 1rem 2rem;
    position: relative;
    overflow: hidden;
}

.logo img {
    height: 50px;
    width: auto;
}

.nav-menu {
    display: flex;
    gap: 2rem;
    position: relative;
}

.nav-link {
    text-decoration: none;
    color: var(--color-text);
    font-weight: bold;
    position: relative;
    z-index: 1;
    padding: 0.5rem 1rem;
    transition: color 0.3s ease-in-out, background-color 0.3s ease-in-out;
}

/* Active link styling */
.nav-link.active {
    background-color: var(--color-active-bg);
    color: var(--color-hover-text);
}

.nav-link:hover {
    color: var(--color-hover-text);
    background-color: var(--color-hover-bg);
}

/* Hover Effect Styling */
.hover-effect {
    position: absolute;
    background-color: var(--color-hover-bg);
    border-radius: 5px;
    transition: all 0.5s ease-in-out; /* Smooth transition */
    opacity: 0;
    pointer-events: none;
    z-index: 0; /* Behind the nav links */
}

.hero {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem;
    background-color: var(--color-secondary);
}

.hero-text h1 {
    font-family: var(--font-secondary);
    font-size: 2.5rem;
    margin-bottom: 1rem;
}

.hero-text p {
    font-size: 1.2rem;
    margin-bottom: 1.5rem;
}

.cta-button {
    padding: 0.8rem 1.5rem;
    background-color: var(--color-accent);
    color: var(--color-hover-text);
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.cta-button:hover {
    background-color: var(--color-text);
}

.features {
    text-align: center;
    padding: 2rem;
}

.feature-cards {
    display: flex;
    gap: 2rem;
    justify-content: center;
}

.feature-card {
    background-color: var(--color-card-bg);
    padding: 1rem;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.read-more {
    text-decoration: none;
    color: var(--color-accent);
    font-weight: bold;
    margin-top: 1rem;
    display: inline-block;
}

footer {
    background-color: var(--color-primary);
    text-align: center;
    padding: 2rem;
}

.last-modified {
    font-size: 0.8rem;
    color: var(--color-text);
    margin-top: 1rem;
}
